# Copy this file to .env.local (for local dev)
# and set the correct API base URL for production in Vercel Dashboard ➜ Settings ➜ Environment Variables
REACT_APP_API_URL=https://tour-backend-4hs5.onrender.com